mat-form-field{
    margin-top: 2rem;
    
    width: 40%;
    margin: 1rem;
}

.parent{
    
    text-align: center;
}

.Bsubmit{
    display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
    mat-form-field{
        margin-top: 2rem;
        width: 90%;
    }
    .parent{
       
        text-align: center;

    }
   
  }

mat-card{
    width: auto;  
}




